* {
  border-radius: 15px;
  font-family: "Playwrite NZ", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p {
  margin: 1vh 0;
}

body {
  background: #78bbee83;
}

#header,
#footer {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#main {
  margin-top: 3vh;
}

#header {
  border-bottom: 5px groove #8996a0;
}

#footer {
  margin-top: 3vh;
  border-top: 5px groove #8996a0;
}

#titleFooter,
#titleHeader {
  font-weight: 900;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  max-width: 768px;
  margin: 1vw auto;
  padding: 1vw 3vw;
  border: 5px groove #8996a0;
}

#submit,
#reset,
#timeEnd {
  width: 120px;
}

#rateForm,
#timeEnd {
  height: 30px;
  padding: 0;
}

input,
select {
  max-width: 700px;
  padding: 3px 3px 3px 10px;
  background-color: #ffffff7a;
  margin-left: 15px;
}

input[type="radio"],
input[type="checkbox"],
#rateForm,
#timeEnd {
  cursor: pointer;
}

optgroup {
  text-align: center;
}

#telExample {
  font-size: 10px;
}

.personalInfo,
.vehicles,
.pets,
.range,
.time,
.reset {
  display: flex;
  flex-direction: column;
}

#question,
.personalInfo label,
.range label,
.time label {
  font-weight: 900;
}

.carInfo,
.motoInfo {
  display: none;
  flex-direction: column;
  gap: 1vh;
}

.otherCar,
.otherMoto {
  display: none;
  flex-direction: column;
  gap: 1vh;
}

.otherCarSelector,
.otherMotoSelector {
  display: flex;
  flex-direction: row;
  margin-top: 1vh;
}

.range,
.time,
.reset {
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}

.reset {
  border: none;
  justify-content: center;
  gap: 10vw;
}

.reset input {
  width: 9vw;
}

input[type="submit"],
input[type="reset"] {
  transition: 0.7s background-color ease;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #75a47f;
  transition: 0.7s background-color ease;
}

@media (max-width: 500px) {
  body {
    font-size: 10px;
    padding: 0;
  }

  input,
  select {
    padding: 2px 10px;
    font-size: 12px;
  }

  #main,
  #footer {
    margin-top: 2vh;
  }

  #rateForm {
    width: 100px;
  }

  #timeEnd {
    font-size: 10px;
  }

  telExample {
    font-size: 8px;
  }
}
